<div>
<h1 style="color:white">Speak Robot Here!</h1>
<%= form_for @translator do |f| %>
  <%= f.text_field :original_text %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <span><%= f.submit "Let's Hear It!", class: "button small round" %></span>
  <span><%= link_to "See 'em all!", translations_path, class: "button small round" %> </span>
<% end %>

</div>
