<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>

  <div class="row">
  <div class="small-6 large-2 columns">Column 1</div>
  <div class="small-6 large-8 columns">Column 2</div>
  <div class="small-12 large-2 columns">Column 3</div>
</div>


    <%= yield %>
  </div>
  </body>
</html>
